<ng-template [ngIf]="relation.Id == undefined" [ngIfElse]="edit">
    <table *ngIf="tableMode; else create" class="table table-striped">
        <thead>
            <h1>List Relations</h1>
            <tr>
                <td>Name</td>
                <td>FullName</td>
                <td>Telephone Number</td>
                <td>Email</td>
                <td>Street</td>
                <td>City</td>
                <td>Country</td>
                <td>Postal Code</td>
                <td>Street Number</td>
                <td>Delete</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of relations">
                <td>{{r.Name}}</td>
                <td>{{r.FullName}}</td>
                <td>{{r.TelephoneNumber}}</td>
                <td>{{r.Email}}</td>
                <td>{{r.Street}}</td>
                <td>{{r.City}}</td>
                <td>{{r.Country}}</td>
                <td>{{r.PostalCode}}</td>
                <td>{{r.StreetNumber}}</td>
                <td><input type="checkbox" (click)="markForDelete(r)"></td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="EditRelation(r)">Change</button>
                </td>
            </tr>
            <input type="button" value="Add relation" class="btn btn-default" (click)="add()" />
            <input type="button" value="Apply filter" class="btn btn-default" (click)="ApplyFilter()" />
            <input type="button" value="Delete" class="btn btn-default" (click)="DeleteRelations()">
            <div>
                <label>Category:</label>
                <div>
                    <select [(ngModel)]="filterByCategoryName" name="filtercategory" title="Category name">
                        <option value="" selected></option>
                        <option *ngFor="let category of categories" [value]="category.Name">
                            {{category.Name}}
                        </option>
                    </select>
                </div>
            </div>
            <div>
                <label>Property to sort by:</label>
                <div>
                    <select [(ngModel)]="sortByProperty" name="Property to sort by">
                        <option value="" selected></option>
                        <option>Name</option>
                        <option>FullName</option>
                        <option>TelephoneNumber</option>
                        <option>Email</option>
                        <option>Street></option>
                        <option>City</option>
                        <option>Country</option>
                        <option>PostalCode</option>
                        <option>StreetNumber</option>
                    </select>
                </div>
            </div>
            <div>
                <label>Order</label>
                <div>
                    <select [(ngModel)]="orderBy" name="order">
                        <option value=0 selected></option>
                        <option value=1>Ascending</option>
                        <option value=2>Descending</option>
                    </select>
                </div>
            </div>
        </tbody>
    </table>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #edit>
    <form #relationForm="ngForm" novalidate (ngSubmit)="Save(relationForm)">
        <fieldset>
            <legend>Add Relation</legend>
            <div class="form-group">
                <label>Name: </label>
                <input form="relationForm" required type="text" [(ngModel)]="relation.Name" name="Name" class="form-control"
                    #name="ngModel" />
                <div *ngIf="name.invalid && name.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>Full Name: </label>
                <input required type="text" [(ngModel)]="relation.FullName" name="FullName" class="form-control"
                    #fullName="ngModel" />
                <div *ngIf="fullName.invalid && fullName.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>Telephone Number: </label>
                <input required pattern="^\+?[0-9]{12}" type="text" [(ngModel)]="relation.TelephoneNumber" name="TelephoneNumber"
                    class="form-control" #number="ngModel" />
                <div *ngIf="number.touched && number.invalid" style="color: red;"><strong> Required field</strong></div>
                <div *ngIf="number.errors?.pattern" style="color: red;"><strong>Wrong format</strong></div>
            </div>
            <div class="form-group">
                <label>Email: </label>
                <input type="text" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" required
                    [(ngModel)]="relation.Email" name="Email" class="form-control" #mail="ngModel" />
                <div *ngIf="mail.touched && mail.invalid" style="color: red;"><strong> Required field</strong></div>
                <div *ngIf="mail.errors?.pattern" style="color: red;"><strong>Wrong format</strong></div>
            </div>
            <div class="form-group">
                <label>Street: </label>
                <input required type="text" [(ngModel)]="relation.Street" name="Street" class="form-control"
                    #street="ngModel" />
                <div *ngIf="street.invalid && street.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>City: </label>
                <input required type="text" [(ngModel)]="relation.City" name="City" class="form-control" #city="ngModel" />
                <div *ngIf="city.invalid && city.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>Country: </label>
                <select required [(ngModel)]="relation.Country" name="Country" #country="ngModel">
                    <option value="" selected></option>
                    <option *ngFor="let country of countries" [value]="country.Name">
                        {{country.Name}}
                    </option>
                </select>
                <div *ngIf="country.invalid && country.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>Postal Code: </label>
                <input required type="text" [(ngModel)]="relation.PostalCode" name="PostalCode" class="form-control"
                    #pc="ngModel" />
                <div *ngIf="pc.invalid && pc.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>Street Number: </label>
                <input required type="number" [(ngModel)]="relation.StreetNumber" name="StreetNumber" class="form-control"
                    #streetNumber="ngModel" />
                <div *ngIf="streetNumber.invalid && streetNumber.touched" style="color: red;"><strong> Required
                        field</strong></div>
            </div>
            <div>
                <label>Categories: </label>
                <select required [(ngModel)]="relation.Categories" name="Categories" multiple="multiple"
                    #category="ngModel">
                    <option *ngFor="let category of categories" [value]="category.Name">
                        {{category.Name}}
                    </option>
                </select>
                <div *ngIf="category.invalid && category.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div>
                <button class="btn btn-default" (click)="Cancel()">Back to list</button>
                <input type="submit" value="Edit" class="btn btn-default" [disabled]="relationForm.invalid">
            </div>
        </fieldset>
    </form>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <form #relationForm="ngForm" novalidate (ngSubmit)="Save(relationForm)">
        <fieldset>
            <legend>Add Relation</legend>
            <div class="form-group">
                <label>Name: </label>
                <input form="relationForm" required type="text" [(ngModel)]="relation.Name" name="Name" class="form-control"
                    #name="ngModel" />
                <div *ngIf="name.invalid && name.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>Full Name: </label>
                <input required type="text" [(ngModel)]="relation.FullName" name="FullName" class="form-control"
                    #fullName="ngModel" />
                <div *ngIf="fullName.invalid && fullName.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>Telephone Number: </label>
                <input required pattern="^\+?[0-9]{12}" type="text" [(ngModel)]="relation.TelephoneNumber" name="TelephoneNumber"
                    class="form-control" #number="ngModel" />
                <div *ngIf="number.touched && number.invalid" style="color: red;"><strong> Required field</strong></div>
                <div *ngIf="number.errors?.pattern" style="color: red;"><strong>Wrong format</strong>
                    Example: 380*********
                </div>
            </div>
            <div class="form-group">
                <label>Email: </label>
                <input type="text" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" required
                    [(ngModel)]="relation.Email" name="Email" class="form-control" #mail="ngModel" />
                <div *ngIf="mail.touched && mail.invalid" style="color: red;"><strong> Required field</strong></div>
                <div *ngIf="mail.errors?.pattern" style="color: red;"><strong>Wrong format</strong></div>
            </div>
            <div class="form-group">
                <label>Street: </label>
                <input required type="text" [(ngModel)]="relation.Street" name="Street" class="form-control"
                    #street="ngModel" />
                <div *ngIf="street.invalid && street.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>City: </label>
                <input required type="text" [(ngModel)]="relation.City" name="City" class="form-control" #city="ngModel" />
                <div *ngIf="city.invalid && city.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>Country: </label>
                <select required [(ngModel)]="relation.Country" name="Country" #country="ngModel">
                    <option value="" selected></option>
                    <option *ngFor="let country of countries" [value]="country.Name">
                        {{country.Name}}
                    </option>
                </select>
                <div *ngIf="country.invalid && country.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>Postal Code: </label>
                <input required type="text" [(ngModel)]="relation.PostalCode" name="PostalCode" class="form-control"
                    #pc="ngModel" />
                <div *ngIf="pc.invalid && pc.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div class="form-group">
                <label>Street Number: </label>
                <input required type="number" [(ngModel)]="relation.StreetNumber" name="StreetNumber" class="form-control"
                    #streetNumber="ngModel" />
                <div *ngIf="streetNumber.invalid && streetNumber.touched" style="color: red;"><strong> Required
                        field</strong></div>
            </div>
            <div>
                <label>Categories: </label>
                <select required [(ngModel)]="relation.Categories" name="Categories" multiple="multiple"
                    #category="ngModel">
                    <option *ngFor="let category of categories" [value]="category.Name">
                        {{category.Name}}
                    </option>
                </select>
                <div *ngIf="category.invalid && category.touched" style="color: red;"><strong> Required field</strong></div>
            </div>
            <div>
                <button class="btn btn-default" (click)="Cancel()">Back to list</button>
                <input type="submit" value="Create" class="btn btn-default" [disabled]="relationForm.invalid">
            </div>
        </fieldset>
    </form>
</ng-template>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />