
html, body {
    height: 90%;
}

* {
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eceffc;
}

form{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height: 50vh;
    width:300px;
    padding:5px;
}

.container {
    border-radius: 10px;
    background-color: #eceffc;
    padding: 20px;
}
select{
    width: 70%;
    padding: 10px;
    border-radius:10px;
}

  input[type=text]:focus {
    background-color: #acc7f1;
    border-color: #000;
  }
  input[type=number]:focus {
    background-color: #acc7f1;
    border-color: #000;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
}
  

  
